<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Homepage</title>
  </head>
  <body>
    <a href="<%=currentUser.url%>">my profile</a>
    <a href="/logout">log out</a>
    <h1>hello <%=currentUser.name.split(" ")[0]%></h1>
    <form action="/posts" method="post">
      <label for="post_body"> what's on your mind </label>
      <textarea
        name="post_body"
        id="post_body"
        cols="80"
        rows="10"
        required
      ></textarea>
      <button type="submit">add post</button>
    </form>
    <%for(let index in posts){%>
    <h3>
      <a href="/users/<%=posts[index].postingUser._id.toString()%>"
        ><%=posts[index].postingUser.name%></a
      >
    </h3>

    <p><%=posts[index].postBody%></p>
    <%if(posts[index].timeStamp){%>
    <p><%=posts[index].timeStamp.toLocaleString()%></p>
    <%}%>
    <%if(posts[index].likes.length>0){%><%=posts[index].likes.length%>likes<%}%>

    <a href="/posts/<%=posts[index]._id%>/likes"
      ><button>
        <%if(posts[index].likeStatus){%>unlike<%}else{%>like<%}%>
      </button></a
    >
    <a href="/posts/<%=posts[index]._id%>"
      ><button>view all comments</button></a
    >
    <%if(posts[index].comment){%>
    <h3>comments</h3>
    <h4><%=posts[index].comment.commentorId.name%></h4>
    <h5><%=posts[index].comment.comment_content %></h5>
    <h5><%=posts[index].comment.comment_date.toLocaleString() %></h5>
    <%}%> <%}%>
  </body>
</html>
