<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <ul>
      <a href="<%=currentUser.url%>"> <li>my profile</li></a>
      <a href="/users"> <li>find friends</li></a>
      <a href="/logout"> <li>log out</li></a>
    </ul>
    <h1>Welcome to OdinBooc, <%=currentUser.name.split(" ")[0]%></h1>
    <form action="/posts" method="post">
      <textarea
        name="post_body"
        id="post_body"
        cols="80"
        rows="10"
        required
        placeholder=" what's on your mind?"
      ></textarea>
      <button type="submit">create post</button>
    </form>
    <%for(let index in posts){%>
    <div class="postContainer">
      <div class="userData">
        <img src="<%=posts[index].postingUser.profile_picture%>" alt="" />
        <h3>
          <a href="/users/<%=posts[index].postingUser._id.toString()%>"
            ><%=posts[index].postingUser.name%></a
          >
        </h3>
        <%if(posts[index].timeStamp){%>
        <p><%=posts[index].timeStamp.toLocaleString()%></p>
        <%}%>
      </div>
      <div class="postBdy">
        <p><%=posts[index].postBody%></p>
        
        <p id="likes-count-<%=posts[index]._id%>" <%if(posts[index].likes.length===0){%>style="display:none;"<%}%>>
          <%=posts[index].likes.length%><%if(posts[index].likes.length>1){%> likes<%}else{%>
          like<%}%>
        </p>
        
      </div>

      <div class="btnContainer">
        <button  data-post-id="<%=posts[index]._id%>" <%if(posts[index].likeStatus){%> style="color:#1877f2;" class="postBtn like-button liked"<%}else{%>class="postBtn like-button"<%}%>>
            <%if(posts[index].likeStatus){%>unlike<%}else{%>like<%}%>
          </button>
        <a href="/posts/<%=posts[index]._id%>"
          ><button class="postBtn">comment</button></a
        >
      </div>

      <%if(posts[index].comment){%>

      <div class="commentContainer">
        <h3><a href="/users/<%=posts[index].comment.commentorId._id%>"><%=posts[index].comment.commentorId.name%></a></h4>
                   <p><%=posts[index].comment.comment_content %></p>

        <p><%=posts[index].comment.comment_date.toLocaleString() %></p>
      </div>
      <a href="/posts/<%=posts[index]._id%>" class="viewCmnts">view all comments</a>
      <%}else{%>
      <p class="noCmmnts">there are no comments on this post yet</p>
      <%}%>
    </div>
    <%}%>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script  src="/javascript/postLikes.js"></script>
  </body>
</html>
