<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>post details</title>
    <link rel="stylesheet" href="/css/post.css" />
  </head>
  <body>
    <ul>
      <a href="/"><li>homepage</li></a>
      <a href="<%=currentUser.url%>"> <li>my profile</li></a>
      <a href="/users"> <li>find friends</li></a>
      <a href="/logout"> <li>log out</li></a>
    </ul>
    <div class="postContainer">
      <div class="userData">
        <img src="<%=post.postingUser.profile_picture%>" alt="" />
        <h3>
          <a href="/users/<%=post.postingUser._id.toString()%>"
            ><%=post.postingUser.name%></a
          >
        </h3>
        <%if(post.timeStamp){%>
        <p><%=post.timeStamp.toLocaleString()%></p>
        <%}%>
      </div>
      <div class="postBdy">
        <p><%=post.postBody%></p>
        <p id="likes-count-<%=post._id%>" <%if(post.likes.length===0){%>style="display:none;"<%}%>>
          <%=post.likes.length%><%if(post.likes.length>1){%> likes<%}else{%>
          like<%}%>
        </p>
        
      </div>

      <div class="btnContainer">
<button  data-post-id="<%=post._id%>"  <%if(likeStatus){%>
            style="color:#1877f2;" class="postBtn like-button liked"<%}else{%> class="postBtn like-button"<%}%>>
            <%if(likeStatus){%>unlike<%}else{%>like<%}%>
          </button>
      </div>

      <form action="/posts/<%=post._id%>/comments" method="post">
        <textarea
          name="comment_body"
          id="comment_body"
          cols="70"
          rows="10"
          placeholder="add a comment"
          required
        ></textarea>
        <button type="submit">add comment</button>
      </form>
      <h2 class="cmntSection">all comments</h2>
      <%if(comments.length>0){%> <%for(let index in comments){%>
      <div class="commentContainer">
      <div class="commentHeader">
        <img src="<%=comments[index].commentorId.profile_picture%>" alt="" />
        <h3><a href="/users/<%=comments[index].commentorId._id%>"><%=comments[index].commentorId.name%></a></h3>
        <p><%=comments[index].comment_date.toLocaleString()%></p>
        </div>
      <p><%=comments[index].comment_content%></p>

      <a href="" data-comment-id="<%=comments[index]._id%>" <%if(comments[index].commentLikeStatus){%> style="color:#1877f2;" class="like-comment-button liked"<%}else{%>class="like-comment-button"<%}%>>
       
          <%if(comments[index].commentLikeStatus){%>unlike <%}else{%>like
          <%}%>
       </a
      >
    </div>

    <%}%> <%}else{%>
    <p>there are no comments yet</p>
    <%}%>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script  src="/javascript/postLikes.js"></script>
      <script  src="/javascript/commentLikes.js"></script>

  </body>
</html>
