<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OdinBook</title>
  </head>
  <body>
    <a href="/">back to homepage</a>
    <h3><%=post.postingUser.name%></h3>
    <p><%=post.postBody%></p>
    <%if(post.timeStamp){%>
    <p><%=post.timeStamp.toLocaleString()%></p>
    <%}%>

    <a href="<%=post.url%>/likes"
      ><button>
        <%if(likeStatus){%>unlike post<%}else{%>like post<%}%>
      </button></a
    >
    <form action="" method="post">
      <textarea
        name="comment_body"
        id="comment_body"
        cols="70"
        rows="10"
        placeholder="add a comment"
        required
      ></textarea>
      <button type="submit">add comment</button>
    </form>
    <h2>comments</h2>
    <%if(comments.length>0){%> <%for(let index in comments){%>
    <h3><%=comments[index].commentorId.name%></h3>
    <p><%=comments[index].comment_date.toLocaleString()%></p>
    <p><%=comments[index].comment_content%></p>
    <form action="/comments/<%=comments[index]._id%>/likes" method="post">
      <input type="hidden" name="_method" value="PUT" />
      <button type="submit">
        <%if(comments[index].likeStatus){%>unlike comment<%}else{%>like
        comment<%}%>
      </button>
    </form>
    <%}%> <%}else{%>
    <p>there are no comments yet</p>
    <%}%>
  </body>
</html>
