<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OdinBook</title>
  </head>
  <body>
    <img src="<%=user.profile_picture%>" alt="" />
    <h1><%=user.name%></h1>
    <%if (own_profile===false){%> <%if (friend_status==="not friends"){%>
    <a href="<%=user.url%>/addfriend"><button>add as friend</button></a>
    <%}else if (friend_status==="sent request"){%>
    <p>friend request sent</p>
    <a href="<%=user.url%>/cancelrequest"
      ><button>cancel request</button></a
    >
    <%}else if (friend_status==="received request"){%>
    <p>friend request received</p>
    <a href="<%=user.url%>/acceptrequest"
      ><button>approve request</button></a
    >
    <a href="<%=user.url%>/cancelrequest"
      ><button>cancel request</button></a
    >
    <%}else{%>
    <p>friends</p>
    <a href="<%=user.url%>/removefriend"
      ><button>remove friend</button></a
    ><%}%> <%}%>
    <h2>about me</h2>
    <p><%=user.about%></p>
    <%if(own_profile){%><a href="<%=user.url%>/about"
      ><button>edit about</button></a
    ><%}%> <%if(posts){%> <%for(let index in posts){%>
    <h3><%=posts[index].postingUser.name%></h3>
    <p><%=posts[index].postBody%></p>
    <%if(posts[index].timeStamp){%>
    <p><%=posts[index].timeStamp.toLocaleString()%></p>
    <%}%>
    <%if(posts[index].likes.length>0){%><%=posts[index].likes.length%>likes<%}%>

    <a href="/posts/<%=posts[index]._id%>/likes"
      ><button>
        <%if(posts[index].likeStatus){%>unlike<%}else{%>like<%}%>
      </button></a
    >
    <a href="/posts/<%=posts[index]._id%>"
      ><button>view all comments</button></a
    >
    <%if(posts[index].comment){%>
    <h3>comments</h3>
    <h4><%=posts[index].comment.commentorId.name%></h4>
    <h5><%=posts[index].comment.comment_content %></h5>
    <h5><%=posts[index].comment.comment_date.toLocaleString() %></h5>
    <%}%> <%}%> <%}%>
  </body>
</html>
